<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/header-footer-nav.css">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Title</title>


</head>
<body>
<div class="site-container">

    <header class="section section-header">
        <nav class="main-nav">
            <div class="media">
                <a>
                    <img src=# alt="">
                </a>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#">Create</a></li>
                </ul>
            </div>
            <div class="search-container">
                <label for="search-input"></label>
                <input type="text" id="search-input" placeholder="Search for items...">
            </div>

            <ul class="nav-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="drop-down"><a href="#">About</a></li>

                <li class="login">
                    <a href="#">Log in</a>
                </li>
                <li class="signup">
                    <a href="#">Sign-up</a>
                </li>

                <li class="account">
                    <a href="#" class="account-button">Account</a>
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Sign out</a></li>
                    </ul>
                </li>


            </ul>
        </nav>
    </header>



    <main>

    </main>


    <footer class="section-footer">
        <div class="media-footer">
            <img src="#" alt="">
            <p>Mochawake.com 2024 All rights reserved</p>
        </div>

        <div class="footer-right">
            <div>
                <ul>
                    <li>
                        <a href="#"><h3>Explore</h3></a>
                    </li>
                    <li><a href="#">Leaderboard</a></li>
                    <li><a href="#">Dailies</a></li>
                    <li><a href="#">Random recipe</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#"><h3>About</h3></a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>




</body>
</html>